.App {
  width: 90vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

}
input,button{
    align-items: center;
    text-align: center;
    height: 25px;
    border: 2px solid green;
    border-radius: 5px;
    background-color: white;
    margin: 0px 5px;
}
button{
    height: 32px;
    cursor:pointer
}
button:hover{
    background-color: rgb(0, 255, 60);
}

.result{
    width: 90%;
    border: 1px solid green;
    height: 50vh;
    margin: 10px auto;
}